* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding-top: 100px;
  overflow-x: hidden;
}

@media (max-width: 600px) {
  body {
    padding-top: 180px;
  }
}
#title a{
    color:white;
    font-family:'Cinzel', serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;  
}
.text{
    font-family: 'Lato', sans-serif;
    color: white;
    margin: 0;
    text-decoration: none;
    transition: transform 0.3s ease;
}
.text:hover{
    transform: scale(1.1);
}
.barra{
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: black;
     z-index: 9999;
}
.banner{
  width: 100%;
  height: auto;
  display: block;
}
nav{
    align-items: center;
    gap: 20px;
    display: flex;
}
h1{
    margin: 0;
}
.ubicacion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 60px 80px;

  animation: aparecer 1s ease;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.texto-ubi {
  width: 50%;
  color: black;
}

.imagen-ubi {
  width: 50%;
}

.imagen-ubi img {
  width: 100%;
  border-radius: 10px;
}
.imagen-ubi iframe {
  width: 100%;
  height: 300px;
}
@media (max-width: 600px) {
  .ubicacion {
    flex-direction: column;
    padding: 40px 20px;

  }

  .texto-ubi, 
  .imagen-ubi {
    width: 100%;
  }

  .imagen-ubi iframe {
    height: 250px;
  }

  .texto-ubi p {
    font-size: 15px;
  }
}
@media (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  .text {
    margin: 8px 0;
    font-size: 14px;
  }
}
.dtitle{
  background-color: black;
  padding: 30px;
}
.cita {
  display: flex;
  flex-direction: column;
  align-items: center;  
  margin-top: 120px;
}

.cita input {
  margin: 7px;
  padding: 15px;
  width: 90px;
  max-width: 300px;
}
h2{
  margin-top: 120px;
  text-align: center;
  font-family: 'Cinzel', serif;
}
h3{
   text-align: center;
  font-family: 'Cinzel', serif;
  font-size: 30px;
}
.ubicacion p{
   font-size: 20px;
  font-family: 'Lato', sans-serif;
}
.descripcion {
  text-align: center;
  padding: 80px 20px;
  color: rgb(0, 0, 0);
}

.descripcion h3 {
  font-size: 28px;
  margin-bottom: 15px;
  font-family: 'Cinzel', serif;
}

.descripcion p {
  font-size: 18px;
  max-width: 600px;
  margin: auto;
  line-height: 1.6;
  font-family: 'Lato', sans-serif;
}
.descripcion h3::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background: white;
  margin: 10px auto;
}
.u{
  font-family: 'Lato', sans-serif;
}